@font-face {
    font-family: 'Reporter #2';
    src: url('Reporter.otf');
}
.GameOver {
    -fx-font-family: 'Reporter #2';
    -fx-font-size: 40px; /* Kích thước chữ */
    -fx-text-fill: black; /* Màu chữ trắng */
}
.Congratulations {
    -fx-font-size: 60px; /* Kích thước chữ */
}