.root {
    -fx-background-image: url('background_lmo.jpg');
    -fx-background-size: 1280px 800px;
}
.transparent-button {
    -fx-font-size: 25;
    -fx-background-color: green;
    -fx-text-fill: transparent;
    -fx-border-color: transparent;
}