@font-face {
    font-family: 'Hobo Bold';
    src: url('HoboBold.ttf');
}

.letter {
    -fx-font-family: 'Hobo Bold';
    -fx-font-size: 90;
    -fx-text-fill: #eb4d7d;
}
.fav {
    -fx-font-family: 'Hobo Bold';
}
.letter_white {
    -fx-font-family: 'Hobo Bold';
    -fx-font-size: 90;
    -fx-fill: white;
}

.border {
    -fx-border-radius: 10; /* Bán kính của viền, tạo góc tròn */
    -fx-border-color: #35A3FA; /* Màu viền nét đứt */
    -fx-border-width: 5; /* Độ rộng của viền */
    -fx-border-style: dashed; /* Kiểu viền nét đứt */
}

.custom-transparent-button {
    /* Điều chỉnh padding */
    -fx-padding: -2px 12px -2px 12px;
    -fx-background-color: transparent;
}

.root {
    -fx-background-image: url('final.jpg');
    -fx-background-size: 1000px 600px;
}


